* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: "#ececec";
}

.user_container{
  width: 100vw;
  height: 100vh;
  background-color: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;

}

.user_wrapper {
  width: 600px;
  height: fit-content;
  background-color: white;
  padding: 40px;
  border-radius: 20px;
}

.title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.user_form{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 15px;
}

.user_input {
  width: 100%;
  padding: 30px 20px;
  height: 40px;
  border-radius: 10px;
  border: 0px;
  font-size: 16px;
}

.user_text {
  background: white;
  border: 2px solid #ececec;
}

.user_text:focus{
  outline-color: #24a0ed;
}

.user_btn {
  color: #24a0ed;
  text-decoration: underline;
  cursor: pointer;
}





.user_createuser_btn {
  background-color: #24a0ed;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}


.userlogin_wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 10px;
  border-top: 1px solid gray;
  padding: 10px 0px;
}

.user_login{
  display: flex;
  justify-content: end;
  margin-top: 10px;
  gap: 10px;
  font-size: 16px;
  color: #555;
}
.user_login a {
  color: #24a0ed;
  text-decoration: underline;
}
.user_password{
  color: #24a0ed;
  text-decoration: underline;
  cursor: pointer;
}

/* Password Forgot */

.password_wrapper{
  width: 600px;
  height: fit-content;
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  display: none;

}

.error_message{
  font-size: 13px;
  color: red;
  padding: 0 10px;
  display: none;
}



/* Reset page */
.reset_wrapper{
  width: 600px;
  height: fit-content;
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  display: none;
}
